
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- ===== CSS ===== -->
<link rel="stylesheet" href="/assets/css/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Home</title>
</head>
<body>

<div class="overlay">
</div>

<header class="header">

<a href="" class="header__logo">Code With Amit</a>


<i class="material-icons" style="color: #fff;" class="header__toggle" id="nav-toggle">
    menu
    </i> 
<nav class="nav" id="nav-menu">
<div class="nav__content bd-grid">





<div class="nav__perfil">

<!-- <div class="nav__img">
<img src="assets/img/perfil.png" alt="">
</div> -->

<i class="material-icons"
style="color: #fff;float: right;" class="nav__close" id="nav-close">
segment
</i> 

<div>
<a href="#" class="nav__name" >Developers Bank</a>

</div>

</div>

<div class="nav__menu">
<ul class="nav__list">
<li class="nav__item"><a href="./" class="nav__link active">Home</a></li>
<li class="nav__item dash"><a href="./dashboard" class="nav__link ">Dash Board</a></li>


<li class="nav__item"><a href="./manage" class="nav__link">Manage Customers</a></li>
<li class="nav__item"><a href="./addcustomer" class="nav__link ">Add Customers</a></li>
<li class="nav__item"><a href="./transfermoney" class="nav__link ">Transfer Money</a></li>
<li class="nav__item"><a href="./transaction" class="nav__link">Transaction History</a></li>

</ul>
</div>





</div>
</nav>
</header>
        

<div class="main-header">

<div class="left-div">
</div>

<div class="right-div">

<div class="inner-wrapper">

<h1>Welcome To Developers Bank </h1>
<p> Developers bank is 
Revolutionary online bank.<br/> Built to help you .
Save your time and money .<br/>
Store your savings the easy way.
</p>

<div class="adjust-icon">


<h4> FIND US ON SOCIAL MEDIA</h4>

<div class="a4st">

<div class="flex-box">

<div class="nav-menu">

<div class="circle">
<i class="material-icons">facebook</i>
</div>

</div>	

<div class="nav-menu">

<div class="circle">

    <img src="/linked.png"style="width: 90%;" />

</div>

</div>	


<div class="nav-menu">

<div class="circle">
    <img src="/git.png"  style="width: 50%;"/>
</div>

</div>	
<div class="nav-menu">

<div class="circle">
    <img src="/insa.png"  style="width: 50%;"/>
</div>

</div>	

</div>	


</div>


</div>

</div>

</div>


</div>


<!-- ===== IONICONS ===== -->

<!--===== MAIN JS =====-->
 <script src="/assets/js/main.js"></script> 
</body>
</html>